<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	
	<link
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
		crossorigin="anonymous">
		
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1> Cursos </h1>
				<p> Spring Boot Security </p>
			</div>
		</div>
		<div class="row"> 
			<form class="form-signin col-2" method="get" action="/logout">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Log out</button>
			</form>
		</div>
	</div>
</body>
</html>